/*Assignment 8 styles*/

H2{ color: green;}
H4{ color: black;}
.footer { text-align: center; vertical-align: middle; color: white; background-color: white;}
/* Start with desktop defaults */ 
#selector { display: block; } 
#mobilemenu { display: none; }

/* Mobile mode: under 1000px */
@media (max-width: 1000px) {
  #selector {
    display: none;
  }

  #mobilemenu {
    display: block;
  }
}

