    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color:
    }

    /* Top menu bar */
    .topnav {
        background-color: #000;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: white;
    }

    /* Dropdown container */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #000;
        color: white;
        padding: 14px 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #444;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .right-links {
        margin-left: auto;
    }

    .right-links a {
        color: white;
        margin-left: 20px;
        text-decoration: none;
        font-size: 16px;
    }

    .right-links a:hover {
        text-decoration: underline;
    }

  .container
    {
    position: relative;
    width: 85%;
    margin-top: 30px;
    margin: 0 auto;
    height: 85%;
    margin-bottom: 30px;
    background-color: lightgrey;
    }

    .footer
    {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    }

    img
    {
    padding: 30px;
    }

    * {
      box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
