    body {
        margin: 0;
        font-family: Calibri, sans-serif;
        background-color: #ffffe6;
        width: 100%;
    }

    /* Top menu bar */
    .topnav {
        background-color: #000;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: white;
    }

    /* Dropdown container */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #000;
        color: white;
        padding: 14px 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #899499;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #C0C0C0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .right-links {
        margin-left: auto;
    }

    .right-links a {
        color: white;
        margin-left: 20px;
        text-decoration: none;
        font-size: 16px;
    }

    .right-links a:hover {
        text-decoration: underline;
    }

  .container
    {
    position: relative;
    width: 85%;
    margin-top: 30px;
    margin: 0 auto;
    height: 91%;
    margin-bottom: 30px;
    background-color: lightgrey;
    max-height: 850px;
    overflow-y: auto;    
    }

    .footer
    {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    vertical-align: middle;
    bottom: 0px;
    }

    img
    {
    padding: 15px;
    border: 2px solid lightgrey;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    }

    * {
      box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      text-align: left;
      }
    /* Create two equal columns that floats next to each other */
    .column1 {
      float: left;
      width: 33%
      padding: 20px;
      bottom-margin: 5px;
      text-align: left;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
      padding: 0px;
    }

    a:visited {
        color: black; 
    }

    a
    {
       color: #b3b3b3;
       text-decoration: none;
    }

    p
    {
    margin-left: 30px;
    margin-right: 30px;
    max-height: 450px;
    overflow-y: auto;
    }

    li
    {
    margin-left: -5px;
    text-decoration: none;    
    }

    a:link {
    text-decoration: none;
    }

    a:visited {
    text-decoration: none;
    color: #b3b3b3;
    }

    a:hover {
    text-decoration: none;
    color: #f2f2f2;
    }

    a:active {
    text-decoration: none;
    color: #b3b3b3;
    }
