/*Artists*/
        body { font-family: "Roboto", sans-serif; }
        .song-card { width: 250px; margin: 15px; cursor: pointer; }
        .song-cover { width: 100%; height: 250px; object-fit: cover; }
        .genre-title { font-size: 28px; font-weight: bold; margin-left: 20px; margin-top: 20px; }
        .genre-row { display: flex; flex-wrap: wrap; margin-left: 20px; }
        .genre-block { width: 100%; display: block; margin-bottom: 40px; }
/*Albums*/
        body { font-family: "Roboto", sans-serif; }
        .song-card { width: 250px; margin: 15px; cursor: pointer; }
        .song-cover { width: 100%; height: 250px; object-fit: cover; }
        .genre-title { font-size: 28px; font-weight: bold; margin-left: 20px; margin-top: 20px; }
        .genre-row { display: flex; flex-wrap: wrap; margin-left: 20px; }
        .genre-block { width: 100%; display: block; margin-bottom: 40px; }
/*Genres*/
        body { font-family: "Roboto", sans-serif; }
        .song-card { width: 250px; cursor: pointer; }
        .song-cover { width: 100%; height: 250px; object-fit: cover; }