 body {
      background-color: #f8f9fa;
      background-image: url('../images/harbourtown.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 900px; 
    }
  somefooter{ background-color: black; color: white; text-align: center; height: 50px; position: absolute; bottom: 0px;}

    .home-card {
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home-card .card-body {
  overflow-y: auto;
}
    .home-card img {
      height: 200px;
      object-fit: cover;
    }
    #adminPage {
      display: none;
    }
.pageheader, .adminheader {
  color: #BFE9CF;
  font-size: 32pt;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* black @ 50% opacity */
  padding: 10px 20px;             /* adds breathing room */
  border-radius: 6px;             /* optional: soft corners */
  display: inline-block;          /* keeps background tight around text */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
 }
.modal-dialog {
  margin-top: 80px !important; /* pushes modal below your navbar */
}

.modal-dialog-scrollable .modal-body {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}
